@font-face {
    font-family: Pokemon-Gen3;
    /* TTF file for CSS3 browsers */
    src: url("fonts/pkmndp.ttf")
}

@font-face {
    font-family: Pokemon-Classic;
    src: url("fonts/Pokemon\ Classic.ttf")
}

@font-face {
    font-family: Projects;
    src: url("fonts/PROJECTS.TTF")
}

@font-face {
    font-family: Plastique;
    src: url("fonts/PLASTIQUE.TTF")
}

/* Global CSS variables */
:root {
    --intro-pixel-size: 2;
    --game-width: 780px;
    --game-height: 546px;
    --battle-width: 780px;
    --battle-height: 364px;
    --text-width: 740px;
    --text-height: 156px;
    --data-box-size: 3;
    --pokemon-size: 1.2;

    --intro-bg-y-position: 50%;

}

body {
    font-family: Pokemon-Gen3, Pokemon-Classic, Ubuntu, Roboto;

    margin: auto;
    background: rgb(16, 26, 52);
    /* background: rgb(26, 26, 26); */
    /* max-width: 1000px; */
    color: #F9FAF8;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    text-align: center;
}

.title {
    /* font-family: Plastique; */
    font-family: Projects;

    margin-top: 10px;
    font-size: 42px;
    color: white;
    text-shadow: 3px 3px 3px red;
}

.subtitle {
    font-family: Plastique;
    margin-top: 10px;

    font-size: 16px;
    color: white;
    text-shadow: 3px 3px 3px red;
}

.switch-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1600px;
    height: 700px;

    background-image: url("images/other/nintendo-switch.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
}

/* =======================================================
   Intro Container: Intro BG + Start button
======================================================= */

.intro-container {
    /* background-color: #2d2e35; */
    background-color: black;
    border-color: rgb(69, 69, 69);
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;

    margin: 76px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: var(--game-width);
    height: var(--game-height);

    /* border-color: pink;
    border-width: 1px;
    border-style: solid; */

    /* display: none; */
}

.quote-container {
    position: absolute;
    bottom: 5%;
    font-size: 18px;
    /* width: 400px;
    height: 50px; */
}

/* =======================================================
   Sliding Background
======================================================= */
.sliding-background {
    background: url("images/background/4.png"), url("images/background/3.png"), url("images/background/2.png"), url("images/background/1.png");

    background-repeat: repeat-x;
    background-position: 130% var(--intro-bg-y-position);
    height: var(--game-height);
    width: var(--game-width);
    animation: slideIntroBackground 16s linear infinite;
}

@keyframes slideIntroBackground {
    100% {
        background-position:
            -432% var(--intro-bg-y-position),
            -151% var(--intro-bg-y-position),
            130% var(--intro-bg-y-position),
            130% var(--intro-bg-y-position);
    }
}

.intro-background-container {
    overflow: hidden;
    /* display: none; */

    border-color: white;
    border-width: 1px;
    border-style: solid;

}

/* =======================================================
   Red Trainer Running Animation
======================================================= */

.intro-red-trainer {
    width: calc(54px * var(--intro-pixel-size));
    height: calc(53px * var(--intro-pixel-size));
    overflow: hidden;
    position: absolute;
    bottom: 112px;
    left: 335px;
}

.red-running-spriteSheet {
    animation: moveSpriteSheet_X 800ms steps(6) infinite;
    width: calc(324px * var(--intro-pixel-size));
}

/* =======================================================
   Start Button
======================================================= */

.start-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: auto;

    position: absolute;
    top: 42%;

    /* display: none; */
}

#startbutton {
    font-family: Plastique;
    font-size: medium;
    color: darkred;
    background: none;
    border-style: none;
    padding: 10px;

    animation: glow 3s ease-in-out infinite alternate;
}

#startbutton:hover {
    color: white;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d;
    }
}

/* =======================================================
   Game Container: Choose + Battle
======================================================= */

.game-container {
    background-color: #2d2e35;
    border-color: rgb(69, 69, 69);
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;

    margin: 76px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: var(--game-width);
    height: var(--game-height);

    /* TEST */
    display: none;
}

.choose-container,
.battle-container,
.faceoff-container,
.results-container {
    width: var(--battle-width);
    height: var(--battle-height);
    position: relative;
}

/* FACEOFF CONTAINER */
.faceoff-container {
    display: flex;
}

.faceoff-image {
    width: var(--battle-width);
    max-height: 100%;
}

/* RESULTS CONTAINER */
.results-container {
    display: none;
}

.results-image {
    width: var(--battle-width);
    max-height: 100%;
}

/* BATTLE CONTAINER */
.battle-container {
    /* hide battle container until battle starts */
    display: none;
}

.battle-image {
    width: var(--battle-width);
    max-height: 100%;
}

/* CHOOSE CONTAINER */
.choose-container {
    position: relative;
    background-color: black;
    justify-content: center;

    /* display: flex; */
    display: none;
}

.grass-column,
.fire-column,
.water-column {
    height: 100%;
    width: calc(var(--game-width)/4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}

/* CHOOSE ICON */
.grass-icon-container,
.fire-icon-container,
.water-icon-container {
    width: auto;
    margin: 15px 15px;
}

.grass-icon-image,
.fire-icon-image,
.water-icon-image {
    height: 100%;
    width: 100%;
}

/* CHOOSE POKéBALL */
.grass-pokeball-container,
.fire-pokeball-container,
.water-pokeball-container {
    width: 60%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.grass-pokeball-image,
.fire-pokeball-image,
.water-pokeball-image {
    height: 100px;
    width: 100px;
}

.grass-effect-image,
.fire-effect-image,
.water-effect-image {
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 8px;
    pointer-events: none;
    animation: moveSpriteSheet_Y 1300ms steps(12) infinite;
}

/* SCORE CONTAINER */
.score-container {
    height: 32px;
    width: 180px;

    position: absolute;
    right: 2px;
    top: 2px;

    z-index: 1;
    font-size: 21px;

    /* display: flex; */
    display: none;
}

.player-score-container,
.opponent-score-container {
    padding-top: 2px;
    padding-left: 10px;
    text-align: left;
    width: 90px;
    font-weight: 900;

    color: white;
    background-color: rgb(0, 0, 0, 0.9);
    text-shadow: 2px 2px 2px purple;
    border-width: 4px;
    border-style: double;
    border-radius: 6px;
}

.player-score-container {
    border-color: lightcoral;
}

.opponent-score-container {
    border-color: lightblue;
}

/* =======================================================
   Databoxes
======================================================= */

.player-data-container,
.opponent-data-container {
    z-index: 4;

    font-family: Pokemon-Gen3;
    color: black;
    text-shadow: 1px 1px black;

    width: 100px;
    height: 100px;
    position: absolute;
}

.player-data-container {
    right: 0px;
    bottom: 0px;
    width: calc(var(--data-box-size) * 104px);
    height: calc(var(--data-box-size) * 36px);

    margin-bottom: 6px;
    margin-right: 30px;
}

.opponent-data-container {
    left: 0px;
    top: 0px;
    width: calc(var(--data-box-size) * 100px);
    height: calc(var(--data-box-size) * 29px);

    margin-top: 30px;
    margin-left: 30px;
}

.player-data-image,
.opponent-data-image {
    width: 100%;
}

.player-hp-container,
.opponent-hp-container {
    position: absolute;
    width: 142px;
    height: 8px;
}

.player-hp-container {
    top: 51px;
    right: 25px;
}

.opponent-hp-container {
    top: 51px;
    right: 40px;
}

.player-hp-image,
.opponent-hp-image {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    left: 0px;



}

@keyframes deplete-hp {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

/* =======================================================
   Pokemon
======================================================= */

.player-pokemon-container,
.opponent-pokemon-container {
    width: 100px;
    height: 100px;
    position: absolute;
}

.player-pokemon-container {
    z-index: 2;

    left: 0px;
    bottom: 0px;
    width: calc(var(--pokemon-size) * 160px);
    height: calc(var(--pokemon-size) * 156px);
    /* width: 192px;
    height: 188px; */

    margin-bottom: 0px;
    margin-left: 110px;
}

.opponent-pokemon-container {
    z-index: 1;

    right: 0px;
    top: 0px;
    width: calc(var(--pokemon-size) * 152px);
    height: calc(var(--pokemon-size) * 158px);
    /* width: 183px;
    height: 190px; */

    margin-top: 40px;
    margin-right: 115px;
}

.player-pokemon-image,
.opponent-pokemon-image {
    height: 100%;
}

/* =======================================================
   Moves
======================================================= */

.attack-container {
    z-index: 3;

    width: var(--battle-width);
    height: var(--battle-height);
    position: absolute;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    overflow: hidden;
}

.attack-image {
    width: 100%;
    display: none;
}

/* =======================================================
   Text Container
======================================================= */

.text-container-border {
    height: var(--text-height);
    width: var(--text-width);
    background-color: #d04838;
    margin: 6px;
    padding: 6px 12px;
    border-radius: 10px;

    align-items: center;
    justify-content: center;

    display: flex;

}

.text-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #589098;
    color: #f4f5f6;
    font-size: 42px;
    line-height: 1.4;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: left;
    text-shadow: 3px 3px 2px black;

    display: flex;
}

/* =======================================================
   Footer
======================================================= */

.footer {
    font-size: 22px;
}

.sources {
    margin-top: 4px;
    font-size: 12px;
    color: lightblue;
}

a:link,
a:visited {
    color: lightcoral;
}




/* =======================================================
   Sprites + Animation
======================================================= */

.pixelart {
    image-rendering: pixelated;
}

@keyframes moveSpriteSheet_X {
    from {
        transform: translate3d(0px, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes moveSpriteSheet_Y {
    from {
        transform: translate3d(0px, 0, 0);
    }

    to {
        transform: translate3d(0, -100%, 0);
    }
}